.app-container {
    display: flex; /* or inline-flex */
}

.col-25 {
    flex-basis: 18% !important;
}

.app-layout {
    display: block;
}

.panel{
    background-color: #eee;
}

html, body, #root, .app-layout, .app-container {
    height: 100% !important;
} 