.menu-container {
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
}

.menu-list{
    list-style:none;
    padding: 0 3em;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.menu-list li a{
    text-decoration:none;
    padding: 2em 0 !important;
    /*font-weight: bold;*/
    color: #263238;
    font-size: small;
}

.menu-list li {
    padding: 0.8em 0 !important;
    text-align: left;
}

.menu-list li:hover {
 background-color: #eee;
}